//*------------------*
//*  変数管理
//*------------------*

//color
$main-color:#1B1310;
$font-color:#141414;

//font-family
$font-main:'Roboto', sans-serif;
$font-ja:'Noto Sans JP', sans-serif; 

//*------------------*
//*  レスポンシブ定義
//*------------------*

//ブレイクポイント
$tb: 959px; //タブレット
$mb: 375px; //スマホ

//@mediaのフォーマット
// タブレット
@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}

//スマホ
@mixin mobile {
  @media screen and (max-width: $mb) {
    @content;
  }
}

//*------------------*
//*  font-size定義
//*------------------*
//$sizeにpx表示を入れて使う

@mixin rem($size) {
  font-size: $size + px; /*IE9以前に対応する*/
  font-size: ($size / 16) + rem;
}

//*------------------*
//*  bace(共通)
//*------------------*

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include rem(10);
  letter-spacing: 0.05em;
  line-height: 2;
  color: $font-color;
  font-family: $font-main;
}

//imgの共通設定
//画像の下に小さな余白が出来るのを防ぐ
img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #fff;
}

//sectionの共通タイトル設定
.section__ttl {
  @include rem(36);
  text-align: center;
}

//*------------------*
//* ヘッダー
//*------------------*

.header{
  width: 100%;
  height: 74px;
  background-color: $main-color;
  color: #fff;
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  z-index: 10;

  @include mobile{
    width: 375px;
  }

  &__inner{
    max-width: 1230px;
    margin: 0 auto;
    padding: 10px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__ttl {
    @include rem(26);
  }
}

.nav {
  @include rem(16);
  margin-left: auto;
  @include mobile{
    display: none;
  }

  &__list {
    display: inline-block;
    margin-left: 1vw;
  }
}

//*------------------*
//* ハンバーガー
//*------------------*

// ボタンの表示
.hamburger-btn{
  display:none;

  @include mobile{
    display: block;
    position: relative;
    width: 25px;
    height: 16px;
    margin-right: 4vw;
    z-index: 20;
  }
}

.hamburger-btn__parts {
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;

  &.-top {
    top: 0;
  }
  &.-middle {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  &.-bottom {
    bottom: 0;
  }
}
// タップしたら回して×マークにする動き
// activeクラスを付け外しして実装
.hamburger-btn.active {
  .hamburger-btn__parts {
    &.-top {
      transform: translateY(10px) rotate(-315deg);
    }
    //2つ目のspanを消す
    &.-middle {
      transform: translateX(200px) 
    }
    //3番目のspanを45度に
    &.-bottom {
      transform: translateY(-4px) rotate(315deg);
    }
  }
}

// 横からスライドメニュー
.hamburger{
  display: none;

  @include mobile{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vh;
    height: 100vh;
    background-color: $main-color;
    transform: translateX(100vw);
    transition: all 0.3s;

    &__lists{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }

    &__list{
      @include rem(16);
      list-style: none;
      text-align: center;
    }

    &__list + &__list{
      padding-top: 50px;
    }

  }
}

//activeクラスをつけたら、スライドイン
.hamburger.active {
  transform: translateX(0);
}

//*------------------*
//* トップ
//*------------------*

.top {
  height: 90vh;
  background-image: url(../img/gilles-lambert-pb_lF8VWaPU-unsplash@2x.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include mobile {
    width: 375px;
    background-image: url(../img/gilles-lambert-pb_lF-1@2x.jpg);

  }

  &__copy {
    @include rem(50);
    color: #fff;
    font-weight: normal;
    border: 2px solid #fff;
    padding: 34px 42px;

    @include mobile{
      @include rem(30);
      font-weight: normal;
    }
  }
}

//*------------------*
//* about
//*------------------*

.about {

  &__inner{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-top: 104px;
  }

  &__ttl{
    @include rem(36);
    text-align: center;
    font-weight: normal;
  }

  &__copy{
    @include rem(24);
    font-family: $font-ja;
    margin-top: 73px;
  }
  &__text{
    width: 100%;
    @include rem(14);
    font-family: $font-ja;
    margin-top: 42px;
  }

}

//*------------------*
//* service
//*------------------*

.service{

  &__inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-top: 154px;

    @include mobile{
      flex-direction:column;    margin:50px auto;

    }
  }

  &__ttl{
    @include rem(36);
    text-align: center;
    font-weight: normal;  
  }

  &__contents {
    margin-top: 71px;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;

    @include mobile{
      display: block;
    }
  }

  .reverse{
    flex-direction: row-reverse;
  }

  &__img {
    width: 480px;
    margin-top: 40px;

    img{
      width: 100vw;
      object-fit: cover;

      @include mobile{
        width: 345px;
        height: 150px;
        object-fit: cover;
      }
    }

  }

  &__copy{
    width: 480px;

    @include mobile{
      width: 345px;
    }
  }

  &__sub-ttl{
    @include rem(24);
    font-family: $font-ja;
    margin-bottom: 42px;

    @include mobile{
      @include rem(20);
      width: 345px;
    }
  }

  &__text{
    width: 100%;

    @include rem(14);
    font-family: $font-ja;

    @include mobile{
      width: 345px;
      // margin: 0 auto;
    }
  }
}

.space{
  padding: 0 15px;
}

//*------------------*
//* news
//*------------------*

.news{

  &__inner {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-top: 154px;

  }

  &__ttl{
      @include rem(36);
      text-align: center;
      font-weight: normal;  
  }

  &__cards{
    margin-top: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

  }

  &__card{
    width: 320px;
    box-shadow: 0 0 6px 0 rgba(27, 19, 16, 0.4);
    margin: 40px auto 0;

    @include mobile{
      margin-top: 40px;
    }
  }

  &__card-img{
    width: 320px;
    height: 200px;

    img{
      width: 320px;
      height: 200px;
      object-fit: cover;
    }
  }


  &__card-text{
    width: 254px;
    @include rem(13);
    font-family: Hiragino Kaku Gothic ProN;
    color: $font-color;
    margin: 25px auto;
  }
}

//*------------------*
//* お問い合わせ
//*------------------*

.contact{

  &__inner{
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;
    align-items: center;
    margin-top: 152px;
  }

  &__ttl{
    @include rem(24);
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
    font-family: $font-ja;
    margin-bottom: 69px;
  }

  &__form-item{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

}

label{
  @include rem(16);
  line-height: 1;
  margin-bottom: 3px;
}

input,textarea{
  border: 1px solid #141414;
  padding: 10px;
}

.contact__form-send{
  margin-top: 50px;
  text-align: center;

}

.contact__form-btn{
  width: 235px;
  height: 59px;
  border: none;
  border-radius: 5vh;
  background-color: $main-color;
  color: #fff;
  font-weight: bold;
  @include rem(20);
  line-height: 1.5;
  box-shadow: 0 0 6px 0 rgba(27, 19, 16, 1.0);
}

//*------------------*
//* フッター
//*------------------*

.footer{
  width: 100%;
  height: 79px;
  background-color: $main-color;
  margin-top: 54px;

  &__ttl{
    @include rem(14);
    color: #fff;
    text-align: center;
    padding-top: 31px;
  }
}